
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /

RewriteRule ^blog/2005/11/01/w-edwards-deming$ http://www.leadershipreview.net/w-edwards-deming [R=301,L,NC]
RewriteRule ^blog/2005/11/10/check-list-for-success$ http://www.leadershipreview.net/check-list-for-success [R=301,L,NC]
RewriteRule ^blog/2005/11/17/innovatory-ideas$ http://www.leadershipreview.net/innovatory-ideas [R=301,L,NC]
RewriteRule ^blog/2005/11/20/thinking-must-change$ http://www.leadershipreview.net/thinking-must-change [R=301,L,NC]
RewriteRule ^blog/2005/11/23/peter-drucker-effective-efficient$ http://www.leadershipreview.net/peter-drucker-effective-efficient [R=301,L,NC]
RewriteRule ^blog/2005/11/30/business-crisis-management$ http://www.leadershipreview.net/how-manage-crisis-your-business [R=301,L,NC]
RewriteRule ^blog/2005/12/05/business-forecasting$ http://www.leadershipreview.net/business-forecasting [R=301,L,NC]
RewriteRule ^blog/2005/12/06/total-quality-management-motivation$ http://www.leadershipreview.net/total-quality-management-motivation [R=301,L,NC]
RewriteRule ^blog/2005/12/08/new-business-ideas$ http://www.leadershipreview.net/new-business-ideas [R=301,L,NC]
RewriteRule ^blog/2005/12/15/business-success$ http://www.leadershipreview.net/business-success [R=301,L,NC]
RewriteRule ^blog/2005/12/16/leadership-and-management$ http://www.leadershipreview.net/leadership-and-management [R=301,L,NC]
RewriteRule ^blog/2005/12/22/buy-a-business$ http://www.leadershipreview.net/buy-a-business [R=301,L,NC]
RewriteRule ^blog/2006/03/18/business-management-consultancy$ http://www.leadershipreview.net/business-management-consultancy [R=301,L,NC]
RewriteRule ^blog/2006/05/10/edward-de-bonos-po$ http://www.leadershipreview.net/edward-de-bonos-po [R=301,L,NC]
RewriteRule ^blog/2006/05/11/unique-success-proposition$ http://www.leadershipreview.net/unique-success-proposition [R=301,L,NC]
RewriteRule ^blog/2006/06/09/learn-from-failure$ http://www.leadershipreview.net/learn-from-failure [R=301,L,NC]
RewriteRule ^blog/2006/06/12/new-business-management$ http://www.leadershipreview.net/new-business-management [R=301,L,NC]
RewriteRule ^blog/2006/08/08/pricing-strategy$ http://www.leadershipreview.net/review-your-pricing-strategy [R=301,L,NC]

RewriteRule ^contact.php http://www.leadershipreview.net/contact-us [R=301,L,NC]

RewriteRule ^leadership-management-review http://www.leadershipreview.net/subs/membership [R=301,L,NC]

RewriteRule ^management/business-assessment.php http://www.leadershipreview.net/case-study-fwwh-double-partnership [R=301,L,NC]
RewriteRule ^management/business-communication.php http://www.leadershipreview.net/business-communication [R=301,L,NC]
RewriteRule ^management/business-concepts http://www.leadershipreview.net/business-concepts [R=301,L,NC]
RewriteRule ^management/business-control.php http://www.leadershipreview.net/business-control [R=301,L,NC]
RewriteRule ^management/business-management-philosophy http://www.leadershipreview.net/business-management-philosophy [R=301,L,NC]
RewriteRule ^management/business-vision.php http://www.leadershipreview.net/business-vision [R=301,L,NC]
RewriteRule ^management/change-management-theory http://www.leadershipreview.net/change-management-theory [R=301,L,NC]
RewriteRule ^management/communication-skills.php http://www.leadershipreview.net/communication-skills [R=301,L,NC]
RewriteRule ^management/corporate-strategy.php http://www.leadershipreview.net/corporate-strategy [R=301,L,NC]
RewriteRule ^management/developing-new-ideas http://www.leadershipreview.net/developing-new-ideas [R=301,L,NC]
RewriteRule ^management/drucker-management-lessons http://www.leadershipreview.net/drucker-management-lessons [R=301,L,NC]
RewriteRule ^management/effective-management-strategy http://www.leadershipreview.net/effective-management-strategy [R=301,L,NC]
RewriteRule ^management/effective-management.php http://www.leadershipreview.net/effective-management [R=301,L,NC]
RewriteRule ^management/employee-empowerment.php http://www.leadershipreview.net/employee-empowerment [R=301,L,NC]
RewriteRule ^management/employees-customers.php http://www.leadershipreview.net/employees-customers [R=301,L,NC]
RewriteRule ^management/entrepreneurial-management.php http://www.leadershipreview.net/entrepreneurial-management [R=301,L,NC]
RewriteRule ^management/entrepreneurs.php http://www.leadershipreview.net/entrepreneurs [R=301,L,NC]
RewriteRule ^management/good-management http://www.leadershipreview.net/good-management [R=301,L,NC]
RewriteRule ^management/japanese-business-culture.php http://www.leadershipreview.net/japanese-business-culture [R=301,L,NC]
RewriteRule ^management/japanese-management.php http://www.leadershipreview.net/japanese-management [R=301,L,NC]
RewriteRule ^management/leadership-style.php http://www.leadershipreview.net/leadership-style [R=301,L,NC]
RewriteRule ^management/management-challenges.php http://www.leadershipreview.net/management-challenges [R=301,L,NC]
RewriteRule ^management/management-models.php http://www.leadershipreview.net/management-models [R=301,L,NC]
RewriteRule ^management/management-objectives.php http://www.leadershipreview.net/management-objectives [R=301,L,NC]
RewriteRule ^management/management-organisation.php http://www.leadershipreview.net/management-organisation [R=301,L,NC]
RewriteRule ^management/management-philosophy.php http://www.leadershipreview.net/management-philosophy [R=301,L,NC]
RewriteRule ^management/management-profile.php http://www.leadershipreview.net/management-profile [R=301,L,NC]
RewriteRule ^management/management-statistics.php http://www.leadershipreview.net/management-statistics [R=301,L,NC]
RewriteRule ^management/management-styles http://www.leadershipreview.net/management-styles [R=301,L,NC]
RewriteRule ^management/management-styles.php http://www.leadershipreview.net/buffett-gates-management-styles [R=301,L,NC]
RewriteRule ^management/managing-people.php http://www.leadershipreview.net/managing-people [R=301,L,NC]
RewriteRule ^management/maverick-management-styles http://www.leadershipreview.net/maverick-management-styles [R=301,L,NC]
RewriteRule ^management/objectives-of-management http://www.leadershipreview.net/objectives-of-management [R=301,L,NC]
RewriteRule ^management/proactive-reactive-thinking.php http://www.leadershipreview.net/proactive-reactive-thinking [R=301,L,NC]
RewriteRule ^management/sales-and-marketing-strategy http://www.leadershipreview.net/sales-and-marketing-strategy [R=301,L,NC]
RewriteRule ^management/satisfying-customers.php http://www.leadershipreview.net/satisfying-customers [R=301,L,NC]
RewriteRule ^management/strategic-planning.php http://www.leadershipreview.net/strategic-planning [R=301,L,NC]
RewriteRule ^management/strategy-tactics.php http://www.leadershipreview.net/strategy-tactics [R=301,L,NC]
RewriteRule ^management/strengths-weaknesses.php http://www.leadershipreview.net/strengths-weaknesses [R=301,L,NC]
RewriteRule ^management/takeovers.php http://www.leadershipreview.net/takeovers [R=301,L,NC]
RewriteRule ^management/team-management.php http://www.leadershipreview.net/team-management [R=301,L,NC]
RewriteRule ^management/teamwork.php http://www.leadershipreview.net/teamwork [R=301,L,NC]
RewriteRule ^management/total-quality-management.php http://www.leadershipreview.net/total-quality-management [R=301,L,NC]
RewriteRule ^management/total-quality.php http://www.leadershipreview.net/total-quality [R=301,L,NC]

RewriteRule ^robert-heller-obituary http://www.leadershipreview.net/robert-heller-obituary [R=301,L,NC]

RewriteRule ^the-thinking-ceo/benefits-flexible-working http://www.leadershipreview.net/benefits-flexible-working [R=301,L,NC]
RewriteRule ^the-thinking-ceo/business-ideas http://www.leadershipreview.net/business-ideas [R=301,L,NC]
RewriteRule ^the-thinking-ceo/human-resource-management http://www.leadershipreview.net/human-resource-management [R=301,L,NC]
RewriteRule ^the-thinking-ceo/incentive-schemes http://www.leadershipreview.net/incentive-schemes [R=301,L,NC]
RewriteRule ^the-thinking-ceo/leadership-management-brains http://www.leadershipreview.net/leadership-management-brains [R=301,L,NC]
RewriteRule ^the-thinking-ceo/leadership-training http://www.leadershipreview.net/leadership-training [R=301,L,NC]
RewriteRule ^the-thinking-ceo/lean-business-model http://www.leadershipreview.net/lean-business-model [R=301,L,NC]
RewriteRule ^the-thinking-ceo/manage-retention http://www.leadershipreview.net/manage-retention [R=301,L,NC]
RewriteRule ^the-thinking-ceo/new-ceo http://www.leadershipreview.net/new-ceo [R=301,L,NC]
RewriteRule ^the-thinking-ceo/organisation-development http://www.leadershipreview.net/organisation-development [R=301,L,NC]
RewriteRule ^the-thinking-ceo/outsourcing-and-offshoring http://www.leadershipreview.net/outsourcing-and-offshoring [R=301,L,NC]
RewriteRule ^the-thinking-ceo/surviving-to-evolve http://www.leadershipreview.net/surviving-to-evolve [R=301,L,NC]
RewriteRule ^the-thinking-ceo/team-action-management http://www.leadershipreview.net/team-action-management [R=301,L,NC]
RewriteRule ^the-thinking-ceo/the-entrepreneurial-manager http://www.leadershipreview.net/the-entrepreneurial-manager [R=301,L,NC]
#RewriteRule ^user http://www.leadershipreview.net/user [R=301,L,NC]

RewriteRule ^offshore(.*) http://www.leadershipreview.net/successful-offshoring [R=301,L,NC]
RewriteRule ^(.*)phil(.*) http://www.leadershipreview.net/management-philosophy [R=301,L,NC]
RewriteRule ^(.*)problem(.*) http://www.leadershipreview.net/innovation [R=301,L,NC]
RewriteRule ^(.*)qualit(.*) http://www.leadershipreview.net/total-quality-management [R=301,L,NC]
RewriteRule ^(.*)qualit(.*) http://www.leadershipreview.net/total-quality-management [R=301,L,NC]
RewriteRule ^(.*)risk(.*) http://www.leadershipreview.net/entrepreneurship [R=301,L,NC]
RewriteRule ^(.*)risk(.*) http://www.leadershipreview.net/entrepreneurship [R=301,L,NC]
RewriteRule ^(.*)skill(.*) http://www.leadershipreview.net/skill [R=301,L,NC]
RewriteRule ^(.*)small(.*) http://www.leadershipreview.net/small-business-entrepreneur [R=301,L,NC]
RewriteRule ^(.*)strat(.*) http://www.leadershipreview.net/strategy [R=301,L,NC]
RewriteRule ^(.*)strat(.*) http://www.leadershipreview.net/strategy [R=301,L,NC]
RewriteRule ^(.*)strat(.*) http://www.leadershipreview.net/strategy [R=301,L,NC]
RewriteRule ^(.*)style(.*) http://www.leadershipreview.net/management-styles [R=301,L,NC]
RewriteRule ^(.*)theor(.*) http://www.leadershipreview.net/management-models [R=301,L,NC]
RewriteRule ^(.*)theor(.*) http://www.leadershipreview.net/management-models [R=301,L,NC]
RewriteRule ^(.*)tqm(.*) http://www.leadershipreview.net/total-quality-management [R=301,L,NC]
RewriteRule ^(.*)train(.*) http://www.leadershipreview.net/management-training [R=301,L,NC]


RewriteRule ^lmr/(.*)$ http://www.leadershipreview.net/$1 [R=301,L,NC]
RewriteRule ^prewp(.*) http://www.leadershipreview.net/prewp/pwmani304 [R=301,L,NC]
RewriteRule ^(.*)acquisition(.*) http://www.leadershipreview.net/mergers-acquisitions-and-takeovers [R=301,L,NC]
RewriteRule ^(.*)acquitistion(.*) http://www.leadershipreview.net/mergers-acquisitions-and-takeovers [R=301,L,NC]
RewriteRule ^(.*)analy(.*) http://www.leadershipreview.net/strengths-weaknesses [R=301,L,NC]
RewriteRule ^(.*)bono(.*) http://www.leadershipreview.net/edward-de-bono [R=301,L,NC]
RewriteRule ^(.*)bono(.*) http://www.leadershipreview.net/edward-de-bono [R=301,L,NC]
RewriteRule ^(.*)change(.*) http://www.leadershipreview.net/change-management-theory [R=301,L,NC]
RewriteRule ^(.*)creat(.*) http://www.leadershipreview.net/innovation [R=301,L,NC]
RewriteRule ^(.*)crisis(.*) http://www.leadershipreview.net/crisis-management-for-boards [R=301,L,NC]
RewriteRule ^(.*)cultur(.*) http://www.leadershipreview.net/shaping-corporate-culture [R=301,L,NC]
RewriteRule ^(.*)decision(.*) http://www.leadershipreview.net/decision-making-advice [R=301,L,NC]
#RewriteRule ^(.*)dev(.*) http://www.leadershipreview.net/business-development [R=301,L,NC]
RewriteRule ^(.*)drucker(.*) http://www.leadershipreview.net/drucker [R=301,L,NC]
RewriteRule ^(.*)drucker(.*) http://www.leadershipreview.net/drucker [R=301,L,NC]
RewriteRule ^(.*)entrep(.*) http://www.leadershipreview.net/entrepreneurship [R=301,L,NC]
RewriteRule ^(.*)heller(.*) http://www.leadershipreview.net/robert-heller [R=301,L,NC]
RewriteRule ^(.*)human(.*) http://www.leadershipreview.net/human-assets [R=301,L,NC]
RewriteRule ^(.*)innov(.*) http://www.leadershipreview.net/innovation [R=301,L,NC]
RewriteRule ^(.*)lateral(.*) http://www.leadershipreview.net/innovation [R=301,L,NC]
RewriteRule ^(.*)lead(.*) http://www.leadershipreview.net/leadership [R=301,L,NC]
RewriteRule ^(.*)business-management(.*) http://www.leadershipreview.net/ [R=301,L,NC]
RewriteRule ^(.*)management(.*) http://www.leadershipreview.net/management [R=301,L,NC]
RewriteRule ^(.*)marketing(.*) http://www.leadershipreview.net/marketing [R=301,L,NC]
RewriteRule ^(.*)masterclass(.*) http://www.leadershipreview.net/masterclasses [R=301,L,NC]

RewriteCond %{HTTP_HOST} ^thinkingmanagers.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.thinkingmanagers.com$
RewriteRule ^/*(.*)$ http://www.leadershipreview.net [R=301,L]

</IfModule>
